@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----     font     ----- */

/* -----     home     ----- */

.glowing-text {
  text-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
}

.move-left {
  white-space: nowrap;
  animation: move-lft 15s linear infinite;
}

@keyframes move-lft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000%);
  }
}

.move-right {
  white-space: nowrap;
  animation: move-rt 15s linear infinite;
}

@keyframes move-rt {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0%);
  }
}
