@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----     font     ----- */

/* -----     home     ----- */

.glowing-text {
  text-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
}

/* -----     navbar     ----- */
.header-menu-link-inner {
  position: relative;
  overflow: hidden;
}

.header-menu-link-text,
.header-menu-link-text-clone {
  display: inline-block;
  position: relative;
  transition:
    0.4s color,
    0.4s transform cubic-bezier(0.4, 0, 0.1, 1);
  z-index: 1;
}

.header-menu-link-text-clone {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.header-menu-link-inner:hover .header-menu-link-text {
  transform: translate3d(0, -100%, 0);
}

.header-menu-link-inner:hover .header-menu-link-text-clone {
  transform: translate3d(0, 0, 0);
}

/* -----     PLAY button animation     ----- */
/* 
.move-left {
  white-space: nowrap;
  animation: move-lft 15s linear infinite;
}

@keyframes move-lft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000%);
  }
}

.move-right {
  white-space: nowrap;
  animation: move-rt 15s linear infinite;
}

@keyframes move-rt {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* -----          ----- */
