@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----     font     ----- */

/* -----     home     ----- */

.glowing-text {
  text-shadow: 0 0 10px rgba(0, 255, 153, 0.7);
}

/* -----     navbar     ----- */

/* menu matrix */

.second-menu {
  position: relative;
  overflow: hidden;
  /* background-color: #333333; */
  background-color: #464646;
  /* background-color: #2C3539; */
  /* background-color: #4D4D4D; */
  /* background-color: #595959; */
  /* background-color: #6C757D; */

  /* color: black; */
  transition: background-color 0.3s ease;
}

.second-menu:hover {
  background-color: transparent;
  color: aqua;
  /* color: lime; */
  /* color: mediumspringgreen; */
  /* color: springgreen; */
  /* box-shadow: 0 0 10px 5px rgba(0, 255, 0, 0.3); */
}

.second-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 150%;
  background-image: url("../../public/Gifs/matrix.gif");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 0;
  transform: rotate(45deg);
  transition:
    opacity 0.3s ease,
    transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: -1;
}

.second-menu:hover::before {
  opacity: 0.5;
  transform: rotate(0deg);
}

/* -----     menu drop down slide up effect    ----- */

.menu-slide-container {
  position: relative;
  overflow: hidden;
}

.menu-slide-text,
.menu-slide-text-clone {
  will-change: transform;
  display: inline-block;
  position: relative;
  /* chill */
  /* transition: 0.4s transform cubic-bezier(0.4, 0, 0.1, 1); */
  /* snappy */
  /* transition: 0.3s transform cubic-bezier(0.25, 0.8, 0.25, 1); */
  transition: 0.3s transform cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 1;
}

.menu-slide-text-clone {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.menu-slide-container:hover .menu-slide-text {
  transform: translate3d(0, -100%, 0);
}

.menu-slide-container:hover .menu-slide-text-clone {
  transform: translate3d(0, 0, 0);
}

.menu-slide-container .menu-arrow {
  transition:
    0.4s transform cubic-bezier(0.4, 0, 0.1, 1),
    0.4s opacity cubic-bezier(0.4, 0, 0.1, 1);
  transform: scale(0);
  opacity: 0;
}

.menu-slide-container:hover .menu-arrow {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.2s;
}

/* -----     PLAY button animation     ----- */
/* 
.move-left {
  white-space: nowrap;
  animation: move-lft 15s linear infinite;
}

@keyframes move-lft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000%);
  }
}

.move-right {
  white-space: nowrap;
  animation: move-rt 15s linear infinite;
}

@keyframes move-rt {
  0% {
    transform: translateX(-2000%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* -----          ----- */
